/*
     * Hero image
     */
.hero {
	@include hero-base(2em 1em, inherit, "coffee-beans-small.jpg");
	text-align: center;
	background-size: 100%;
	color: #fff;
	text-shadow: 0.1em 0.1em 0.3em $black;
}

@media (min-width: 35em) {
	.hero {
		@include hero-base(5em 3em, resize-func($font-size-base, "md"), "coffee-beans-medium.jpg");
	}
}

@media (min-width: 50em) {
	.hero {
		@include hero-base(7em 6em, resize-func($font-size-base, "lg"), "coffee-beans.jpg");
	}
}