/*
The assignment says "create a _grid.scss partial for row and column modules", but I decided to use a cell instead row and columns, because I think it makes more sense if I'm using grid.
*/

.grid {
    display: grid;
    gap: $sm-margin;
    margin-left: $sm-margin;
    margin-right: $sm-margin;
    grid-template-columns: 1fr; //small devices

    .grid__cell {
        margin-top: 0;
        grid-row: span 1;

        &--span-1 {
            grid-column: span 1;

            &--span-2 {
                grid-column: span 2;
            }

            &--span-3 {
                grid-column: span 3;
            }

            &--span-4 {
                grid-column: span 4;
            }
        }
    }
}

@media (min-width: 35em) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 50em) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}