.article {
    padding: $section-padding;
}

.article__title {
    font-size: $title-size;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

.article__body {
    line-height: $p-line-height;
}