footer.container-black {
    margin-top: 0;
}

.footer {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0 2em;

    >*+* {
        margin-bottom: 2em;
    }

    :last-child {
        margin-bottom: 1em;
    }
}

.footer__social {
    >h3 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-align: center;
    }

    .social {
        display: flex;
        justify-content: center;

        .social__item {
            margin: 0 calc(0.5em + 1.5vw);
            max-width: 3em;
        }

    }
}

.footer__links {
    >h3 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-align: center;
    }

    >ul {
        list-style: none;
        padding: 0;
        text-align: center;
        font-size: $p-size;

        >li {
            margin-top: 1em;
        }

        >li>a {
            text-decoration: none;
            color: $white;
        }
    }
}

.footer__copyright {
    >h3 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-align: center;
    }

    p {
        text-align: center;
        color: $white;

        &:last-child {
            margin-top: 0;
        }

        >a {
            color: $white;
        }
    }
}

@media (min-width: $md-screen) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: initial;
    }

    .footer__social {
        order: 1;
        flex: 50%;

        .social {
            margin: 5em auto;
        }
    }

    .footer__links {
        order: 0;
        flex: 50%;
        margin: 0;
    }

    .footer__copyright {
        order: 2;
        flex: 100%;
    }
}

@media (min-width: $lg-screen) {
    .footer {
        flex-wrap: nowrap;

        >*+* {
            margin: 0;
        }
    }

    .footer__social {
        order: 2;
        flex: 35%;

        >h3 {
            text-align: left;
        }

        >.divider {
            margin: 0;
        }

        .social {
            justify-content: flex-start;

            .social__item {
                margin: 0 1.5em;
                &:first-child {
                    margin-left: 0;
                }
            }

        }
    }

    .footer__links {
        order: 1;
        flex: 25%;

        >h3 {
            text-align: left;
        }

        >.divider {
            margin: 0;
        }

        >ul {
            text-align: left;
        }
    }

    .footer__copyright {
        order: 0;
        flex: 40%;
        padding-right: 2em;;

        >h3 {
            text-align: left;
        }

        >.divider {
            margin: 0;
        }

        p {
            text-align: left;
        }
    }
}