.images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-auto-flow: dense;
    background-color: #000;
    margin-top: 4em;

    >.images-grid__item {
        display: flex;
    }

    img {
        @extend %image-cover;
        flex-grow: 1;
    }

    .jace {
        @include grid-values("span 2", "1 / 3");
    }

    .iona {
        @include grid-values("span 2", "1 / 2");
    }

    .nicol-bolas {
        @include grid-values("span 2", "2 / 4");
    }

    .official-web {
        display: none;
    }

    .dryad {
        @include grid-values("span 2", "3 / 6");
    }

    .dragon {
        @include grid-values("span 2", "4 / 6");
    }
}

@media (min-width: $lg-screen) {
    .images-grid {

        img {
            opacity: 0.8;
            transition: opacity .4s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        .jace {
            @include grid-values("span 4", "1 / 3");


        }

        .iona {
            @include grid-values("span 4", "1 / 2");


        }

        .nicol-bolas {
            @include grid-values("span 4", "1 / 4");


        }

        .official-web {
            @include grid-values("span 4", "2 / 3");


            margin-top: 0;
            padding: 2em 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid #fff;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: $subtitle-size;
            font-weight: normal;
            letter-spacing: 0.1em;
        }

        .dryad {
            @include grid-values("span 3", "3 / 4");


        }

        .dragon {
            @include grid-values("span 5", "3 / 4");


        }
    }
}