.media {
    padding: 1em 0;
}

.media__image{
    img {
        object-fit: cover;
        width: 100%;
    }
}

.media__body {
    padding: 1em 0;
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: $subtitle-size;
    }

    p {
        line-height: $p-line-height;
    }
}

@media (min-width: $md-screen){
    .media {
        &:nth-child(even) .media__image{
            float: right;
            margin-left: 2em;
            margin-right: 10%;
        }
    }
    
    .media__image{
        width: 35%;
        float: left;
        margin-left: 10%;
        margin-right: 2em;
    }
    
    .media__body {
        margin-top: 0;
        padding: 0;
        h2 {
            margin-top: 0;
            text-align: left;
        }
    }
}