.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
}

.menu__item {
    flex: 100%;
    margin: 0;
    >a {
        text-align: center;
        display: block;
        padding: 0.8em 1em;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
    }
    &:last-child{
        border-bottom: 4px solid $secondary-color;
    }
}