//Colors
$secondary-color: #ea4b12;

$dark-color: #212121;
$light-color: #f1f1f1;

$white: #ffffff;
$black: #000000;


//Fonts Families
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$font-family-base: Montserrat, Arial, sans-serif;

//Font sizes
$p-size: 1.2em;
$subtitle-size: 1.4em;
$title-size: 2em;


//Spacing
$section-padding: 3em 0; 
$p-line-height: 1.7em;


$md-screen: 768px;
$lg-screen: 1024px;