.color-selection__title {
    background-color: $dark-color;
    padding: 0.8em 0;
    >h2{
        font-size: $subtitle-size;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0;
    }
}

.color-selection__body{
    margin-top: 0;
}

@media (min-width: $md-screen){
    .color-selection__body{
        margin-top: 0;
        display: flex;
    }
}

@media (min-width: $lg-screen){
    .color-selection__body{
        margin-top: 0;
        display: flex;
    }
}