@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
:root {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, sans-serif;
  background-color: #f1f1f1;
}

body * + * {
  margin-top: 2em;
}

p {
  font-size: 1.2em;
  color: #212121;
  text-align: justify;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.container-black {
  background-color: #000000;
}

.width-80 {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.divider {
  margin: 0 auto;
  border: none;
  height: 3px;
  background-color: #ea4b12;
  width: 4em;
}

.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #ea4b12;
}

.header__logo {
  flex: 80%;
  padding: 0.5em 2em;
}
.header__logo > img {
  max-width: 50%;
}

.header__toggle {
  flex: 20%;
  margin: 0.5em 0;
  text-align: right;
}
.header__toggle > a {
  padding-right: 2em;
}
.header__toggle > a > img {
  width: 1.6em;
}

.header__nav {
  position: absolute;
  left: 0;
  right: 0;
  flex-basis: 100%;
  height: 0;
  overflow: hidden;
  margin-top: 0;
  transition: height 0.3s ease-out;
  background-color: #000000;
}

.header.is-open .header__nav {
  height: auto;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu__item {
  flex: 100%;
  margin: 0;
}
.menu__item > a {
  text-align: center;
  display: block;
  padding: 0.8em 1em;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.menu__item:last-child {
  border-bottom: 4px solid #ea4b12;
}

.article {
  padding: 3em 0;
}

.article__title {
  font-size: 2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.article__body {
  line-height: 1.7em;
}

.color-selection__title {
  background-color: #212121;
  padding: 0.8em 0;
}
.color-selection__title > h2 {
  font-size: 1.4em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}

.color-selection__body {
  margin-top: 0;
}

.card {
  margin-top: 0;
}
.card figure {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  position: relative;
}

.card__image {
  opacity: 0.7;
  object-fit: cover;
  flex-grow: 1;
}

.card__caption {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.2em;
}

.media {
  padding: 1em 0;
}

.media__image img {
  object-fit: cover;
  width: 100%;
}

.media__body {
  padding: 1em 0;
}
.media__body h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
}
.media__body p {
  line-height: 1.7em;
}

footer.container-black {
  margin-top: 0;
}

.footer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0 2em;
}
.footer > * + * {
  margin-bottom: 2em;
}
.footer :last-child {
  margin-bottom: 1em;
}

.footer__social > h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}
.footer__social .social {
  display: flex;
  justify-content: center;
}
.footer__social .social .social__item {
  margin: 0 calc(0.5em + 1.5vw);
  max-width: 3em;
}

.footer__links > h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}
.footer__links > ul {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
}
.footer__links > ul > li {
  margin-top: 1em;
}
.footer__links > ul > li > a {
  text-decoration: none;
  color: #ffffff;
}

.footer__copyright > h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}
.footer__copyright p {
  text-align: center;
  color: #ffffff;
}
.footer__copyright p:last-child {
  margin-top: 0;
}
.footer__copyright p > a {
  color: #ffffff;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-flow: dense;
  background-color: #000;
  margin-top: 4em;
}
.images-grid > .images-grid__item {
  display: flex;
}
.images-grid img {
  object-fit: cover;
  max-width: 100%;
  flex-grow: 1;
}
.images-grid .jace {
  grid-column: span 2;
  grid-row: 1/3;
}
.images-grid .iona {
  grid-column: span 2;
  grid-row: 1/2;
}
.images-grid .nicol-bolas {
  grid-column: span 2;
  grid-row: 2/4;
}
.images-grid .dryad {
  grid-column: span 2;
  grid-row: 3/6;
}
.images-grid .dragon {
  grid-column: span 2;
  grid-row: 4/6;
}

/*# sourceMappingURL=styles.css.map */
